# Programação Python para Ciência de Dados

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1)

A base de dados que será utilizada no exercício está sendo carregada no código abaixo. Mais informações sobre a base podem ser encontradas no arquivo *breast-cancer-wisconsin.names*

In [6]:
# Header = None porque base não tem o nome das colunas
df = pd.read_csv('breast-cancer-wisconsin.data', header=None)
# Vamos colocar o nome nas colunas (vindo do arquivo breast-cancer-wisconsin.names
df.columns = ['id',
              'Clump Thickness'   
              'Uniformity of Cell Size',
              'Uniformity of Cell Shape',
              'Marginal Adhesion',
              'Single Epithelial',
              'Cell Size',
              'Bare Nuclei',
              'Bland Chromatin',
              'Normal Nucleoli',
              'Mitoses',
              'Class']

In [7]:
df.head()

,id,Clump ThicknessUniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial,Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

#### Realize a divisão da base em conjutos de treino e validação (escolha as proporções), execute a arvore de decisão e indique a acurácia que foi atingida pelo modelo (a variável resposta está na coluna ``Class``)

## 2) Acesse o site https://archive.ics.uci.edu/ml/datasets.php encontre um dataset para regressão e treine um modelo regressivo

**DICA:** As bases geralmente são disponibilizadas em um arquivo que contém os dados e outro que contém a descrição da base, contando geralmente com as colunas do dataset.