# Programação Python para Ciência de Dados

## Exercícios Numpy e Pandas - Parte I

### Prática dos conteúdos estudados: Processando e extraindo informações de arquivos csv

In [2]:
import numpy as np
import pandas as pd

#### O arquivo 'WorldCups.csv' possui as colunas:
- Year: ano da copa
- Country: pais sede
- Winner: campeão
- RunnersUP: disputou a final com o campeão
- Third: terceiro colocado
- Fourth: quarto colocado
- GoalsScored: número de gols na copa
- QualifiedTeams:
- MatchesPlayed: número de jogos
- Attendance: número de espectadores

#### 1) Leia o arquivo 'WorldCups.csv', definindo a coluna 'Year' como índice, e salve-o em uma variável. Exiba as 5 primeiras linhas e o tipo de dado de cada coluna. Quantas linhas possui o DataFrame?

In [3]:
df = pd.read_csv('WorldCups.csv', index_col = 'Year')
df.head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [4]:
len(df)

20

In [5]:
df.dtypes

Country           object
Winner            object
RunnersUp         object
Third             object
Fourth            object
GoalsScored        int64
QualifiedTeams     int64
MatchesPlayed      int64
Attendance        object
dtype: object

#### 2) Em quais anos o Brasil ganhou a copa? Em quais anos o Brasil jogou uma final? Qual a proporção de vitórias do Brasil em finais?

In [9]:
df.loc[df['Winner'] == 'Brazil'].index.values

array([1958, 1962, 1970, 1994, 2002])

In [11]:
df.query('Winner == "Brazil" or RunnersUp == "Brazil"').index.values

array([1950, 1958, 1962, 1970, 1994, 1998, 2002])

In [12]:
len(df.loc[df['Winner'] == 'Brazil'])/ len(df.query('Winner == "Brazil" or RunnersUp == "Brazil"'))

0.7142857142857143

#### 3) Remova as colunas de QualifiedTeams e 'MatchesPlayed'

In [13]:
del df['QualifiedTeams']
df.drop(['MatchesPlayed'], axis = 1, inplace = True)

In [14]:
df.columns

Index(['Country', 'Winner', 'RunnersUp', 'Third', 'Fourth', 'GoalsScored',
       'Attendance'],
      dtype='object')

#### 4) Exiba as linhas de 4 a 8 (inclusive)

In [15]:
df.iloc[4:9]

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,Attendance
Year,,,,,,,
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,768.607
1958,Sweden,Brazil,Sweden,France,Germany FR,126,819.810
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,893.172
1966,England,England,Germany FR,Portugal,Soviet Union,89,1.563.135
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,1.603.975

#### 5) Utilize os rótulos (labels) para exibir as linhas das copas de 2002 e 2006

In [16]:
df.loc[[2002, 2006]]

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,Attendance
Year,,,,,,,
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,2.705.197
2006,Germany,Italy,France,Germany,Portugal,147,3.359.439

#### 6) Quais foram as 5 copas com mais gols? Utilize a função de ordenação.

In [19]:
#df.sort_values('GoalsScored').iloc[-5:]
df.sort_values('GoalsScored').tail()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,Attendance
Year,,,,,,,
1982,Spain,Italy,Germany FR,Poland,France,146,2.109.723
2006,Germany,Italy,France,Germany,Portugal,147,3.359.439
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,2.705.197
1998,France,France,Brazil,Croatia,Netherlands,171,2.785.100
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,3.386.810

In [23]:
df.head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,Attendance
Year,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,590.549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,363.000
1938,France,Italy,Hungary,Brazil,Sweden,84,375.700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,1.045.246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,768.607

In [33]:
# df.loc/df.iloc(LINHA, COLUNA) Escolho loc ou iloc sabendo se quero
# indice ou nome
print(df.loc[:, "RunnersUp"])
print(df.iloc[1, 2])

Year
1930         Argentina
1934    Czechoslovakia
1938           Hungary
1950            Brazil
1954           Hungary
1958            Sweden
1962    Czechoslovakia
1966        Germany FR
1970             Italy
1974       Netherlands
1978       Netherlands
1982        Germany FR
1986        Germany FR
1990         Argentina
1994             Italy
1998            Brazil
2002           Germany
2006            France
2010       Netherlands
2014         Argentina
Name: RunnersUp, dtype: object
Czechoslovakia

     Country Winner RunnersUp   Third  Fourth  GoalsScored Attendance
Year
1938  France  Italy   Hungary  Brazil  Sweden           84    375.700

#### 7) Utiliza o método `.value_counts()` para saber o número de vezes que cada país já ganhou. Só é necessário usar a coluna 'Winner'

In [22]:
df.Winnervalue_counts()

Brazil        5
Italy         4
Germany FR    3
Uruguay       2
Argentina     2
France        1
Spain         1
England       1
Germany       1
Name: Winner, dtype: int64

#### 8) Deixe Pandas de lado por enquanto. Vamos para o Numpy.
Os dados de pandas são na verdade uma matriz do Numpy. Trabalhar com a matriz Numpy é mais eficiente. Para acessar essa matriz basta fazer:

```python
nparray = dataframe.values
```

##### a) Com a matriz numpy, visualize apenas as colunas de 1 a 4 (inclusive). Que colunas são essas? Salve numa variável.

In [40]:
df.head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,Attendance
Year,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,590.549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,363.000
1938,France,Italy,Hungary,Brazil,Sweden,84,375.700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,1.045.246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,768.607

In [34]:
array = df.values

In [37]:
array[:, 1: 5]

array([['Uruguay', 'Argentina', 'USA', 'Yugoslavia'],
       ['Italy', 'Czechoslovakia', 'Germany', 'Austria'],
       ['Italy', 'Hungary', 'Brazil', 'Sweden'],
       ['Uruguay', 'Brazil', 'Sweden', 'Spain'],
       ['Germany FR', 'Hungary', 'Austria', 'Uruguay'],
       ['Brazil', 'Sweden', 'France', 'Germany FR'],
       ['Brazil', 'Czechoslovakia', 'Chile', 'Yugoslavia'],
       ['England', 'Germany FR', 'Portugal', 'Soviet Union'],
       ['Brazil', 'Italy', 'Germany FR', 'Uruguay'],
       ['Germany FR', 'Netherlands', 'Poland', 'Brazil'],
       ['Argentina', 'Netherlands', 'Brazil', 'Italy'],
       ['Italy', 'Germany FR', 'Poland', 'France'],
       ['Argentina', 'Germany FR', 'France', 'Belgium'],
       ['Germany FR', 'Argentina', 'Italy', 'England'],
       ['Brazil', 'Italy', 'Sweden', 'Bulgaria'],
       ['France', 'Brazil', 'Croatia', 'Netherlands'],
       ['Brazil', 'Germany', 'Turkey', 'Korea Republic'],
       ['Italy', 'France', 'Germany', 'Portugal'],
       ['Spain', 'Netherlands', 'Germany', 'Uruguay'],
       ['Germany', 'Argentina', 'Netherlands', 'Brazil']], dtype=object)

##### b) Você deve gerar um dicionário em que as chaves são os países e os valores são número de vezes que aquele país participou de uma final (Ex.: 'pais' : num_final).

_Dica: o código abaixo pode te auxiliar a criar esse dicionário_

```python
# d é um dicionário que inicialmente estava vazio
if pais in d: 
    d[pais] += 1 # se país estava no dicionário...
else:
    d[pais] = 1 # # se país não estava no dicionário...
```

In [41]:
array = array[:, 1: 5]

In [42]:
final = dict()
for line in array:
    v = line[0]
    s = line[1]
    if v in final:
        final[v] += 1
    else:
        final[v] = 1
        
    if s in final:
        final[s] += 1
    else:
        final[s] = 1

In [43]:
final

{'Uruguay': 2,
 'Argentina': 5,
 'Italy': 6,
 'Czechoslovakia': 2,
 'Hungary': 2,
 'Brazil': 7,
 'Germany FR': 6,
 'Sweden': 1,
 'England': 1,
 'Netherlands': 3,
 'France': 2,
 'Germany': 2,
 'Spain': 1}

##### b) Agora faça um dicionário que mapeia cada país ao número de partidas que disputou terceiro lugar (Ex.: 'pais' : num_terc).

In [44]:
terc = dict()
for _, _, t, q in array:
    if t in terc:
        terc[t] += 1
    else:
        terc[t] = 1
        
    if q in terc:
        terc[q] += 1
    else:
        terc[q] = 1

In [45]:
terc

{'USA': 1,
 'Yugoslavia': 2,
 'Germany': 3,
 'Austria': 2,
 'Brazil': 4,
 'Sweden': 3,
 'Spain': 1,
 'Uruguay': 3,
 'France': 3,
 'Germany FR': 2,
 'Chile': 1,
 'Portugal': 2,
 'Soviet Union': 1,
 'Poland': 2,
 'Italy': 2,
 'Belgium': 1,
 'England': 1,
 'Bulgaria': 1,
 'Croatia': 1,
 'Netherlands': 2,
 'Turkey': 1,
 'Korea Republic': 1}

##### c) Insira esses dois dicionários em em outro dicionário da seguinte forma {'finais' : {'Brazil' : 7, ...}, 'tercs' : {USA' : 1}}. Transforme em um DataFrame e salve em um arquivo .csv.

In [47]:
sele = pd.DataFrame({'finais' : final, 'tercs' : terc})

In [49]:
sele.to_csv('sele.csv', index=False)