# Programação Python para Ciência de Dados

## Exercícios Numpy e Pandas - Parte I

### Prática dos conteúdos estudados: Processando e extraindo informações de arquivos csv

In [1]:
import numpy as np
import pandas as pd

#### O arquivo 'WorldCups.csv' possui as colunas:
- Year: ano da copa
- Country: pais sede
- Winner: campeão
- RunnersUP: disputou a final com o campeão
- Third: terceiro colocado
- Fourth: quarto colocado
- GoalsScored: número de gols na copa
- QualifiedTeams:
- MatchesPlayed: número de jogos
- Attendance: número de espectadores

#### 1) Leia o arquivo 'WorldCups.csv', definindo a coluna 'Year' como índice, e salve-o em uma variável. Exiba as 5 primeiras linhas e o tipo de dado de cada coluna. Quantas linhas possui o DataFrame?

In [62]:
df = pd.read_csv('WorldCups.csv', index_col='Year')
print(df.columns.values)
df.head()

['Country' 'Winner' 'RunnersUp' 'Third' 'Fourth' 'GoalsScored'
 'QualifiedTeams' 'MatchesPlayed' 'Attendance']

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [33]:
len(df)

20

In [29]:
df.types()

AttributeError: 'DataFrame' object has no attribute 'types'

#### 2) Em quais anos o Brasil ganhou a copa? Em quais anos o Brasil jogou uma final? Qual a proporção de vitórias do Brasil em finais?

In [36]:
df.loc[df['Winner'] == 'Brazil'].index.values

array([1958, 1962, 1970, 1994, 2002], dtype=int64)

In [38]:
df.query('Winner == "Brazil" or RunnersUp == "Brazil"').index.values

array([1950, 1958, 1962, 1970, 1994, 1998, 2002], dtype=int64)

#### 3) Remova as colunas de QualifiedTeams e 'MatchesPlayed' colocado

In [57]:
df = df.drop(['QualifiedTeams'], axis=1, inplace = True)
df = df.drop(['MatchesPlayed'], axis=1, inplace = True)
df

AttributeError: 'NoneType' object has no attribute 'drop'

#### 4) Exiba as linhas de 4 a 8 (inclusive)

In [51]:
print(df.iloc[4:9,:])

          Country      Winner       RunnersUp       Third        Fourth  \
Year
1954  Switzerland  Germany FR         Hungary     Austria       Uruguay
1958       Sweden      Brazil          Sweden      France    Germany FR
1962        Chile      Brazil  Czechoslovakia       Chile    Yugoslavia
1966      England     England      Germany FR    Portugal  Soviet Union
1970       Mexico      Brazil           Italy  Germany FR       Uruguay

      GoalsScored Attendance
Year
1954          140    768.607
1958          126    819.810
1962           89    893.172
1966           89  1.563.135
1970           95  1.603.975

#### 5) Utiliza os rótulos (labels) para exibir as linhas das copas de 2002 e 2006

#### 6) Quais foram as 5 copas com mais gols? Utilize a função de ordenação.

In [70]:
 df.sort_values('GoalsScored', ascending=False).iloc[-5:]
#df.sort_values('GoalsScored', ascending=False).tail()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549

#### 7) Utiliza o método `.value_counts()` para saber o número de vezes que cada país já ganhou. Só é necessário usar a coluna 'Winner'

In [71]:
df['Winner'].value_counts()

Brazil        5
Italy         4
Germany FR    3
Argentina     2
Uruguay       2
Spain         1
Germany       1
France        1
England       1
Name: Winner, dtype: int64

#### 8) Deixe Pandas de lado por enquanto. Vamos para o Numpy.
Os dados de pandas são na verdade uma matriz do Numpy. Trabalhar com a matriz Numpy é mais eficiente. Para acessar essa matriz basta fazer:

```python
nparray = dataframe.values
```

##### a) Com a matriz numpy, visualize apenas as colunas de 1 a 4 (inclusive). Que colunas são essas? Salve numa variável.

In [75]:
nparray = df.values
f = nparray[:,1:5]
f

array([['Uruguay', 'Argentina', 'USA', 'Yugoslavia'],
       ['Italy', 'Czechoslovakia', 'Germany', 'Austria'],
       ['Italy', 'Hungary', 'Brazil', 'Sweden'],
       ['Uruguay', 'Brazil', 'Sweden', 'Spain'],
       ['Germany FR', 'Hungary', 'Austria', 'Uruguay'],
       ['Brazil', 'Sweden', 'France', 'Germany FR'],
       ['Brazil', 'Czechoslovakia', 'Chile', 'Yugoslavia'],
       ['England', 'Germany FR', 'Portugal', 'Soviet Union'],
       ['Brazil', 'Italy', 'Germany FR', 'Uruguay'],
       ['Germany FR', 'Netherlands', 'Poland', 'Brazil'],
       ['Argentina', 'Netherlands', 'Brazil', 'Italy'],
       ['Italy', 'Germany FR', 'Poland', 'France'],
       ['Argentina', 'Germany FR', 'France', 'Belgium'],
       ['Germany FR', 'Argentina', 'Italy', 'England'],
       ['Brazil', 'Italy', 'Sweden', 'Bulgaria'],
       ['France', 'Brazil', 'Croatia', 'Netherlands'],
       ['Brazil', 'Germany', 'Turkey', 'Korea Republic'],
       ['Italy', 'France', 'Germany', 'Portugal'],
       ['Spain', 'Netherlands', 'Germany', 'Uruguay'],
       ['Germany', 'Argentina', 'Netherlands', 'Brazil']], dtype=object)

##### b) Você deve gerar um dicionário em que as chaves são os países e os valores são número de vezes que aquele país participou de uma final (Ex.: 'pais' : num_final).

_Dica: o código abaixo pode te auxiliar a criar esse dicionário_

```python
# d é um dicionário que inicialmente estava vazio
if pais in d: 
    d[pais] += 1 # se país estava no dicionário...
else:
    d[pais] = 1 # # se país não estava no dicionário...
```

In [ ]:
final = {}
for line in array:
    v = line[0]
    s = line[1]
    if v in final:
        final[v] += 1
    else:
        final[v] = 1

##### b) Agora faça um dicionário que mapeia cada país ao número de partidas que disputou terceiro lugar (Ex.: 'pais' : num_terc).

##### c) Insira esses dois dicionários em em outro dicionário da seguinte forma {'finais' : {'Brazil' : 7, ...}, 'tercs' : {USA' : 1}}. Transforme em um DataFrame e salve em um arquivo .csv.